<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Search</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/index_header.css">
    <link rel="stylesheet" href="../static/styles/index_body.css">
    <script type="text/javascript" src="static/scripts/index.js"></script>
    <script></script>
  </head>

  <body>
    <header>
      <h1><i>What's happening around town?</i></h1>
    </header>
    <div class="container1">
      <div class="event-keywords">
	<form>
	  <input type="text" name="event_tags" id="tags" maxlength="100" placeholder="Event Keywords...">
	</form>

	<ul class="dropdown_tags">
	  <li><input type="checkbox" />Activism/Cause</li>
	  <li><input type="checkbox" />Home & Garden</li>
	  <li><input type="checkbox" />Tour/Sightseeing</li>
	  <li><input type="checkbox" />Theater/Performance Arts</li>
	  <li><input type="checkbox" />Sports/Fitness</li>
	  <li><input type="checkbox" />Shopping</li>
	  <li><input type="checkbox" />Religion/Spiritual</li>
	  <li><input type="checkbox" />Music</li>
	  <li><input type="checkbox" />Museums</li>
	  <li><input type="checkbox" />Film/Television</li>
	  <li><input type="checkbox" />Literary</li>
	  <li><input type="checkbox" />Health & Wellness</li>
	  <li><input type="checkbox" />LGBTQ</li>
	  <li><input type="checkbox" />Family/Children</li>
	  <li><input type="checkbox" />Dance</li>
	  <li><input type="checkbox" />Community</li>
	  <li><input type="checkbox" />Clubs</li>
	  <li><input type="checkbox" />Food & Drinks</li>
	  <li><input type="checkbox" />Conference/Convention</li>
	  <li><input type="checkbox" />Comedy</li>
	  <li><input type="checkbox" />Lecture/Discussion</li>
	  <li><input type="checkbox" />Class/Workshop</li>
	</ul>
      </div>

      <div>within</div>

      <div class="distance">
	<form>
	  <input type="text" name="radius" placeholder="2" id="radius">
	</form>
      </div>

      <div>miles of</div>

      <div>
	<form>
	  <input type="text" name="user_location" placeholder="San Francisco, CA">
	</form>
      </div>
    </div>


    <div class="container2">
      <section class="event-cost">
	<button type="button">Cost</button>
	<div class="cost-slider">
	  <div id="price">$</div>
	  <input type="range" name="cost" id="cost-range" min="0" max="100" value="20"/>
	</div>
      </section>

      <button type="button">Date</button>

      <div class="time">
	<button type="button">Time</button>
	<div class="hours">
	  <div>
	    <label>
	      <input type="checkbox">
	    </label>Morning
	  </div>
	  <div>
	    <label>
	      <input type="checkbox">
	    </label>Afternoon
	  </div>
	  <div>
	    <label>
	      <input type="checkbox">
	    </label>Evening
	  </div>
	</div>
	<button id="search" type="button">Search</button>
    </div>

    <footer>
    </footer>
  </body>
</html>
