<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Search</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../static/styles/index_header.css">
    <link rel="stylesheet" href="../static/styles/index_body.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="static/scripts/index.js"></script>
    <script></script>
  </head>

  <body>
    <header>
      <h1><i>What's happening around town?</i></h1>
    </header>
    <div class="container1">
      <div class="event-keywords">
	<form action="javascript:void(0);">
	  <input type="text" name="event_tags" id="tags" maxlength="100" placeholder="Enter Event Keywords...">
	</form>
	<!--
	    sfstation event tags changes  based on popularity; need to revisit, or use Relevance Score
	-->
	<ul class="dropdown_tags">
	  <li><span><input type="checkbox" data-name="Any"/>Any Event</span></li>
	  <li><span><input type="checkbox" data-name="Art"/>Art<span></li>
	  <li><span><input type="checkbox" data-name="Activism"/>Activism</span></li>
	  <li><span><input type="checkbox" data-name="Home & Garden"/>Home & Garden</span></li>
	  <li><span><input type="checkbox" data-name="Tour/Sightseeing"/>Tour/Sightseeing</span></li>
	  <li><span><input type="checkbox" data-name="Theater/Performance arts"/>Theater/Performance Arts</span></li>
	  <li><span><input type="checkbox" data-name="Health/Fitness"/>Health/Fitness</span></li>
	  <li><span><input type="checkbox" data-name="Religion/Spiritual"/>Religion/Spiritual</span></li>
	  <li><span><input type="checkbox" data-name="Music"/>Music</span></li>
	  <li><span><input type="checkbox" data-name="Museum"/>Museums</span></li>
	  <li><span><input type="checkbox" data-name="Film"/>Film/Television</span></li>
	  <li><span><input type="checkbox" data-name="Literary"/>Literary</span></li>
	  <li><span><input type="checkbox" data-name="Health & Wellness"/>Health & Wellness</span></li>
	  <li><span><input type="checkbox" data-name="LGBTQ"/>LGBTQ</span></li>
	  <li><span><input type="checkbox" data-name="Family/Children"/>Family/Children</span></li>
	  <li><span><input type="checkbox" data-name="Dance"/>Dance</span></li>
	  <li><span><input type="checkbox" data-name="Community"/>Community</span></li>
	  <li><span><input type="checkbox" data-name="Clubs"/>Clubs</span></li>
	  <li><span><input type="checkbox" data-name="Food & Drinks"/>Food & Drinks</span></li>
	  <li><span><input type="checkbox" data-name="Comedy"/>Comedy</span></li>
	  <li><span><input type="checkbox" data-name="Lecture/Discussion"/>Lecture/Discussion</span></li>
	  <li><span><input type="checkbox" data-name="Class/Workshop"/>Class/Workshop</span></li>
	</ul>

      </div>

      <div>within</div>

      <div class="distance">
	<form action="javascript:void(0);">
	  <input type="text" id="radius" name="radius" value="2">
	</form>
      </div>

      <div>miles of</div>

      <div>
	<form action="javascript:void(0);">
	  <input type="text" name="user_location" id="user_location" value="San Francisco, CA">
	</form>
      </div>
    </div>


    <div class="container2">
      <section class="event-cost">
	<button id="cost" type="button">Cost</button>
	<div class="cost-slider">
	  <label>Maximum: &nbsp;<span id="price">$</span></label>
	  <div id="cost-range"> </div>
	  <div>&nbsp;</div>
	  <div class="apply">
	    <button id="cost-apply" type="button">Apply</button>
	  </div>
	</div>
      </section>

      <button id="date" type="button">Date</button>

      <div class="time">
	<button id="time" type="button">Time</button>
	<ul class="hours">
	  <li>
	    <span>
	      <input type="checkbox" data-name="Morning">
	    </span>Morning
	  </li>
	  <li>
	    <span>
	      <input type="checkbox" data-name="Afternoon">
	    </span>Afternoon
	  </li>
	  <li>
	    <span>
	      <input type="checkbox" data-name="Evening">
	    </span>Evening
	  </li>
	  <div>&nbsp;</div>
	  <div class="apply">
	    <button id="time-apply" type="button">Apply</button>
	  </div>
	</ul>
    </div>

    <footer>
    </footer>
  </body>
</html>
