<!DOCTYPE html>
<html>
  <head>
    <title>Info Window Display</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // When the user clicks the marker, an info window opens.
      var map;
      var geocoder;
      var address = "533 Sutter Street, San Francisco, CA";
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.781715, lng:-122.408367},  // Holberton School Location
          zoom: 14
        });
        geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);
      }

      function codeAddress(geocoder, map) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              title: "fun event!"
            });
          } else {
            alert('Geocode failed: ' + status);
      }
      });
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkdExJFmcG7SqmXTp481KAieX82H4NjGY&callback=initMap">
    </script>
  </body>
</html>
