.container1 {
    display: flex;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    align-items: center;
}

input[type=text] {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
}

input::placeholder {
    font-style: italic;
}

input#tags {
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 35px;
}


input#radius {
    width: 40px;
}

.dropdown_tags {
    display: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.dropdown_tags {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown_tags input {
    margin-right: 10px;
    margin-top: 10px;
}

.distance {
    width: 70px;
}