.container1 {
    display: flex;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    align-items: center;
}

input[type=text] {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
}

input::placeholder {
    font-style: italic;
}

input#tags {
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 35px;
}

.dropdown_tags {
    display: none;
}