body {
    padding: 0;
    margin: 0;
}

.container1 {
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    padding-left: 30px;
    align-items: center;
}

input[type=text] {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
}

input::placeholder {
    font-style: italic;
}

input#search {
    width: 610px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input#radius {
    width: 40px;
}

.ui-menu .ui-menu-item {
    padding: 10px 10px;
    margin: 10px 20px;
    font-size:16px;
}

.ui-menu li:hover {
    background: #c7eddf;
}

.dropdown_tags {
    display: none;
    font-size: 16px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    position: absolute;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    list-style-type: none;
    z-index: 1;
    padding: 10px 20px 20px 20px;
    overflow: scroll;
    margin-top: 10px;
}

.dropdown_tags input {
    margin-right: 10px;
}

ul.dropdown_tags li:hover {
    background-color: #DCDCDC;
    border-radius: 4px;
}

ul.dropdown_tags li {
    padding: 10px 10px 5px 5px;
}

.distance {
    width: 70px;
}

.container2 {
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

button, div.hours {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 10px 24px;
    margin: 15px 20px 10px 10px;
    color: #404040;
    width: 200px;
}

.cost-slider {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 20px;
    width: 200px;
    font-size: 18px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: auto;
    background-color: white;
}

.apply button{
    font-size: 16px;
    position: relative;
    border-style: none;
    width: 50px;
    margin: auto;
    padding: 0;
    color: #008489;
}

#cost-apply {
    left: 160px;
}

#time-apply {
    left: 80px;
}

.apply button:focus {
    outline: none;
}

button, li {
    cursor: pointer;
}

#cost-range {
    margin-top: 20px;
}

div#price {
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

ul.hours {
    display: none;
    width: 130px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    margin-left: 35px;
    margin-top: auto;
    list-style-type: none;
    padding: 10px 10px 20px 10px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    background-color: white;
}

ul.hours input {
    margin-right: 10px;
}

.hours li {
    padding: 10px 5px 5px 5px;
    font-size: 18px;
}

.hours li:hover {
    background-color: #DCDCDC;
    border-radius: 4px;
}

hr {
    border: 0;
    border-bottom: 1px solid #d9dadb;
    background: #999;
}

#map {
    height: 600px;
    width: 100%;
    padding: 0;
    margin-top: 25px;
}
